@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-bg_color;
  }
}

/* Regular */
@font-face {
  font-family: 'PP-Mori';
  src: url('./assets/fonts/PP-Mori-Regular.otf') format('opentype'),
       url('./assets/fonts/PP-Mori-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: 'PP-Mori';
  src: url('./assets/fonts/PP-Mori-SemiBold.otf') format('opentype'),
       url('./assets/fonts/PP-Mori-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Book */
@font-face {
  font-family: 'PP-Mori';
  src: url('./assets/fonts/PP-Mori-Book.otf') format('opentype'),
       url('./assets/fonts/PP-Mori-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: 'PP-Mori';
  src: url('./assets/fonts/PP-Mori-ExtraBold.otf') format('opentype'),
       url('./assets/fonts/PP-Mori-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* ExtraLight */
@font-face {
  font-family: 'PP-Mori';
  src: url('./assets/fonts/PP-Mori-ExtraLight.otf') format('opentype'),
       url('./assets/fonts/PP-Mori-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

body {
  font-family: 'PP-Mori', sans-serif;
}

h1 {
  font-family: 'PP-Mori', sans-serif;
  font-weight: 800; /* ExtraBold */
}

p {
  font-family: 'PP-Mori', sans-serif;
  font-weight: 400; /* Regular */
}

.light-text {
  font-family: 'PP-Mori', sans-serif;
  font-weight: 200; /* ExtraLight */
}

/* Parallax Sections */

.parallax {
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.custom-line-height {
  line-height: 0.7; /* Ajusta este valor según sea necesario */
}

.custom-line-height2 {
  line-height: 0.6; /* Ajusta este valor según sea necesario */
}

@keyframes page-turn {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.page {
  animation: page-turn 1s forwards;
}

#header {
  transition: all 0.4s ease; /* Transición suave */
}

.header-large {
  padding: 50px 10px;
  font-size: 650px; /* Tamaño grande para el logo */
}

.header-small {
  padding: 0px 10px;
  font-size: 20px; /* Tamaño reducido para el logo */
}

/* custom mouse pointer*/
